{% extends "FOSUserBundle::layout.html.twig" %}
{% block fos_user_content %}
<div class='pad'><p class='alert alert-success'>votre mot de passe a été modifié</p></div>
{% endblock fos_user_content %}

